#mapid {
    min-height: 800px;
    height: 100vh;
}

#mapConrolPanel:hover {
    cursor: pointer;

}

#dimmedOverlay {
    z-index: 1001;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;

}

#introModal {
    z-index: 2000;
    width: 700px;
    min-height: 640px;
    height: 640px;
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    left: 20%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

.hiddenmodal {
    display: none;
}

#mapControlPanel {
    z-index: 401;
    width: 250px;
    min-height: 800px;
    height: 85%;
    position: absolute;
    top: 10px;
    left: 10px;


    padding: 12px 18px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(240, 240, 240, 0.95);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#mapControlIcon {
    z-index: 401;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: none;
}

#panelfooter div {
    margin: 10px;
}

/* start slider */

.slidecontainer {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    z-index: 401;
    width: 170;
    position: absolute;
    top: 10px;
    right: 50px;
    border-radius: 4px;
    padding: 2px;
    /* Width of the outside container */
}

.img-valign {
    vertical-align: middle;
}


.leaflet-map-pane canvas {
    z-index: 600;
}

/* .testClass {
    width: 40px !important;
    height: 40px !important;
    background: linear-gradient(180deg,rgba(248,189,51,.9),rgba(248,189,51,.9) 50%, rgba(166,44,21,.9) 50%);
    text-align: center;
    border-radius: 50px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.5); 
}
*/

.halfmarker {
    padding-top: 2px;
    font-weight: 600;
}

.violencecount {
    color: white;
}

/* end slider */
.marker-cluster-small {
    background-color: rgba(255, 255, 81, 0.6);
}

.marker-cluster-small div {
    background-color: rgba(255, 255, 81, 0.8);
}

.marker-cluster-medium {
    background-color: rgba(124, 78, 81, 0.6);
}

.marker-cluster-medium div {
    background-color: rgba(124, 78, 81, 0.8);
}

.marker-cluster-large {
    background-color: rgba(24, 78, 81, 0.6);
}

.marker-cluster-large div {
    background-color: rgba(24, 78, 81, 0.8);
}

.marker-cluster-small span {
    color: black;
    font-weight: bold;
}

.marker-cluster-medium span {
    color: white;
    font-weight: bold;
}

.marker-cluster-large span {
    color: white;
    font-weight: bold;
}



.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.infoicon {
    cursor: pointer;
}

.legend {
    line-height: 20px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.popuplabel {
    font: 14px/16px Arial, Helvetica, sans-serif;
    font-weight: bold;
}



#gradient-legend {
    width: 100px;
    height: 10px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .0), #FF6600);

}

#apptitle {
    font: 14px/16px Arial, Helvetica, sans-serif;

}



#boundaryPanel {

    margin: 25px 0px 0px 0px;
    padding: 10px 10px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(250, 250, 250, 0.8);
    border-radius: 5px;
    height: 150px;

}

#dohPanel {

    margin: 25px 0px 0px 0px;
    padding: 10px 10px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(250, 250, 250, 0.8);
    border-radius: 5px;
    height: 80px;

}

#issuesPanel {
    margin: 25px 0px 0px 0px;
    padding: 10px 10px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(250, 250, 250, 0.8);
    border-radius: 5px;
    height: 150px;

}

.boundarybutton {
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(240, 240, 240, 1);
    box-shadow: 0 0 2px rgba(50, 50, 50, 0.8);
    border-radius: 5px;
    width: 35%;
    padding: 10px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
}

.bbleft {
    float: left;
}

.bbright {
    float: right;
}

.selected {
    background: gray;
    font-weight: bold;
    color: white;
}

.disabledButton {
    color: gray;
    background: rgb(200, 200, 200);
}

.clear {
    clear: both;
    height: 0px;
}


/* modal */

.modalTitle {
    margin: 2%;
    line-height: normal;
    font: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    text-align: center;
}

#introModal div {
    margin: 2%;
}

.tutItem {
    font-size: 1.3em;
    line-height: normal;
    height: 73px;
}


.clickabletitle:hover {
    text-decoration: underline;
    cursor: pointer;
}


.tooltip {
    position: relative;
    display: inline-block;

}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: rgba(88, 88, 88, 0.9);
    color: #fff;
    text-align: left;
    border-radius: 5px;
    padding: 10px 10px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 115%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptextincident {
    left: 140%;
}

.tooltip .tooltipopacity {
    left: -190%;
    width: 200px;

}

/* turn off pointer interaction with heatmap so hover still works */
.leaflet-overlay-pane {
    pointer-events: none;
    opacity: 1;
}



.gps_ring {
    border: 3px dashed rgba(19, 183, 251, .85);
    -webkit-border-radius: 300px;
    height: 140px;
    width: 140px;
    -webkit-animation: pulsate ease-out;
    animation-duration: 4s;

    -webkit-animation-iteration-count: infinite;
    /*opacity: 0.0*/
}

.smaller_gps_ring {
    border: 3px dashed rgba(19, 183, 251, .85);
    -webkit-border-radius: 300px;
    height: 50px;
    width: 50px;
    -webkit-animation: pulsate ease-out;
    animation-duration: 4s;

    -webkit-animation-iteration-count: infinite;
    /*opacity: 0.0*/
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

/* do not remove; if removed the 2 heatmaps will not be displayed at the same time */
.leaflet-zoom-hide {
    position: absolute !important;
    
}

/* for the search bar icon */
.leaflet-left {
    left: 300;
}

.leaflet-overlay-pane{
    z-index: 401;
}